server {
    listen 80;
    server_name {{ server_domain | default('_') }};
    root /var/www/html;
    index index.php index.html index.htm;
    client_max_body_size {{ php_upload_max_filesize }};

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php{{ php_version }}-fpm.sock;
    }

    location ~ /\.ht {
        deny all;
    }
}
