{
  "storage-driver": "{{ docker_storage_driver }}",
  "log-driver": "{{ docker_log_driver }}",
  "log-opts": {
    "max-size": "{{ docker_log_max_size }}",
    "max-file": "{{ docker_log_max_file }}"
  }{% if docker_registry_mirror %},
  "registry-mirrors": ["{{ docker_registry_mirror }}"]
{% endif %}
}